//Color variables
$test: #ff0000;

$succes: #1fb51f;
$warning: #ffe355;
$danger: #ee2e2e;
$info: #379cfa;

$white-color: rgb(245, 245, 245);
$black-color: rgb(28, 28, 28);
$black-color-darker: rgb(20, 20, 20);




$html-color: #e34c26;
$html-color-secondary: #f06529;



$css-color: #264de4;
$css-color-secondary: #2965f1;

$scss-color: #cd6799;



$js-color: #f0db4f;
$js-color-secondary: #323330;

$typescript-color: #007acc;



$react-color: #61dbfb;

$angular-color: #dd1b16;
$angular-color-secondary: #a6120d;



$php-color: #8993be;
$php-color-secondary: #232531;