//Import colors
@import "colors";
@import "utilities";
@import "font";
@import "language";
@import "header";
@import "etiquette";

body{
    background-color: $black-color;
    color: $white-color;
}

.etiquette{
    @include etiquette($html-color);
}

.filler{
    width: 600px;
    height: 600px;
    background-color: $html-color;
}